<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro</title>
</head>
<body>
    <h1>Página de cadastro</h1>
    <form action="http://localhost:3000/cadastroUsuario" method="POST" id="formLogin">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome"><br>
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha"><br>
        <button type="submit">Enviar dados</button>
    </form>
    <button type="button" id="botaoAtualizarUsuarios">Atualizar lista de usuários</button>
    <ul id="listaUsuarios">

    </ul>
</body>
<script src="/index.js"></script>
<script src="/service.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>